# ========================
# Python
# ========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ========================
# Node / Frontend
# ========================
node_modules/
dist/
dist-ssr/
build/
*.local

# ========================
# Environnement
# ========================
.env
.env.*

# ========================
# Uploads & fichiers temporaires
# ========================
uploads/
/tmp/securescan/
*.log

# ========================
# Éditeurs & OS
# ========================
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ========================
# Base de données (Local)
# ========================
*.sqlite3
*.db
*.db-journal

# ========================
# Débris de commandes & Logs
# ========================
\=*
pip-log.txt
